.cell {
  height: 10px;
  width: 10px;
  background-color: #fff;
  margin: 0.5px;
  box-sizing: border-box;
}

.cell:hover {
  cursor: pointer;
}

.cell.alive {
  background-color: #233825
}

@media screen and (max-width: 1000px) {
  .cell {
    height: 13px;
    width: 13px;
  }
}

@media screen and (max-width: 800px) {
  .cell {
    height: 10px;
    width: 10px;
  }
}

@media screen and (max-width: 650px) {
  .cell {
    height: 8px;
    width: 8px;
  }
}