.cell {
  height: 10px;
  width: 10px;
  background-color: #fff;
  margin: 0.5px;
  border-radius:2px;
  box-sizing: border-box;
}

.cell:hover {
  cursor: pointer;
  background-color: #a2bea5;
}

.cell.alive {
  background-color: #233825;
}
.cell.alive:hover {
  background-color: #486d4d;
}

@media screen and (max-width: 1000px) {
  .cell {
    height: 8px;
    width: 8px;
  }
}