.controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom:8px;
}

.controls button {
  margin: 5px;
  border-radius:2px;
  color: #233825;
  padding: 0.4em 0.8em;
  width: 90px;
}

.controls button:hover {
  border-color:#333;
}

.controls .controls__turns {
  margin-left:10px;
  margin-right: auto;
}