body {
  background-color: #233825;
  overflow-x: hidden;
  overflow-y: hidden;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 100%;
  color: rgb(255, 255, 255);

}

.main h1 {
  color: #ddd;
  font-size: 2rem;
  margin: 0 1rem;
  position:absolute;
  top: 50px;
  left: 50px;
}

@media screen and (max-width: 1250px) {
  .main h1 {
    display: none;
  }
}